*{
  overflow-x: hidden;
}
@media only screen and (max-width:1171px) {
  #skills span img {
      margin: 15px;
      height: 70px;
  }
  .skill_hidden {
      top: -24px!important;
  }
}
@media only screen and (max-width:975px) {
  .svg_projects_skills {
      flex-direction: column!important;
      flex-wrap: wrap;
  }
  .svg_projects_skills .svg2 {
      width: 70%;
  }
  #skills_used {
      width: 80%!important;
  }
}
@media only screen and (max-width: 950px) {
  div.toggle-dark{
    font-size: 27px;
  }
  .content {
    flex-direction: column-reverse !important;
  }
  .about-me {
    width: 90.99% !important;
    margin: auto;
    margin-top: 0px !important;
  }
  .svg {
    width: 77% !important;
    margin: auto;
  }
  .content {
    margin: 0px 0px !important;
  }
}
@media only screen and (max-width: 600px) {
  .svg_projects_skills .svg2 {
      width: 90%;
  }
  #skills_used {
      width: 95%!important;
  }
}
@media only screen and (max-width:510px) {
  .skill_hidden {
      top: -19.5px!important;
      font-size: 13.6px;
      font-weight: 600;
  }
  #skills span img {
      margin: 12px;
      height: 60px;
  }
}

@media only screen and (max-width: 500px) {
  div.toggle-dark{
    font-size: 24px;
  }
  div.header div.social-media {
    margin-right: 4px !important;
  }
  .svg {
    width: 85% !important;
    margin: auto;
  }
  .about-me h1 {
    font-size: 50px !important;
  }
  .about-me h3 {
    font-size: 35px !important;
  }
  .about-me p {
    font-size: 25px !important;
  }
}

@media only screen and (max-width: 432px) {
  div.toggle-dark{
    font-size: 21px;
  }
  .svg {
    width: 90% !important;
    margin: auto;
  }
  .skill_hidden {
    top: -16px!important;
    font-size: 13px;
    font-weight: 500;
}
#skills_used h1 {
    font-size: 40px!important;
}
#skills span img {
    margin: 10px;
    height: 55px;
}
  div.social-media {
    display: none;
  }
  div.social-media- {
    display: inline-block !important;
    float: none !important;
    margin-bottom: 10px !important;
    padding: 6px 12.39px;
    margin: 1px 4px;
  }
  div.social-media-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media only screen and (max-width: 350px) {
  div.toggle-dark{
    font-size: 18px;
  }
  .svg {
    width: 95% !important;
    margin: auto;
  }
  div.about-me h1 {
    font-size: 40px !important;
  }
  div.about-me h3 {
    font-size: 27px !important;
  }
  div.about-me p {
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 263px) {
  div.toggle-dark{
    font-size: 15px;
  }
  .svg {
    width: 99.9% !important;
    margin: auto;
  }
  div.about-me h1 {
    font-size: 35px !important;
  }
  div.about-me h3 {
    font-size: 25px !important;
  }
  div.about-me p {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 240px) {
  div.toggle-dark{
    font-size: 13px;
  }
  div.social-media- {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

html {
  min-height: 100%;
}

body {
  background-color: skyblue;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  background-image: radial-gradient( circle at 80% 40%, white 4%, skyblue 50%, cornflowerblue 100%);
  background-size: cover;
}

.header {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.459);
  width: 100%;
  display: inline-block;
  padding: 3px 0px;
  background-color: darksalmon;
  position: sticky;
  top: 0;
}

.header-button {
  padding: 5px 5px;
  border-radius: 3px;
  float: left;
  margin: 5px 5px;
  font-size: 25px;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  text-shadow: 0.7px 0.7px black, -0.7px 0.7px black, 0.7px -0.7px black, -0.7px -0.7px black;
}



@keyframes move-right {
  to {
    margin-right: 4px;
  }
}

div.header div.social-media {
  margin-right: 20px;
  animation: move-right 1s ease-out forwards;
}

div.social-media, div.social-media- {
  float: right;
  padding: 6px 12.39px;
  margin: 1px 4px;
  font-size: 30px;
  color: black;
  border-radius: 9000px;
}

div.social-media- {
  display: none;
}

#insta:hover {
  color: white;
  background: radial-gradient( circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

#twitter:hover {
  color: white;
  background-color: #1da1f2;
}

#github:hover {
  color: white;
  background-color: black;
}
#hackerrank:hover{
  color: white;
  background-color: #1ba94c;
}

#linkedin:hover {
  color: white;
  background-color: #2867b2;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 40px;
}

@keyframes move-up {
  to {
    margin-top: 0px;
  }
}

.about-me {
  width: 49%;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: move-up 1s ease-out forwards;
  margin-top: 80px;
}

.about-me h1 {
  text-align: center;
  font-size: 55px;
  font-family: "Lobster";
  margin: 10px 0px;
}

.about-me h3 {
  text-align: center;
  font-size: 40px;
  font-family: "Satisfy";
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about-me h3 span{
  margin: 0 4px;
}

.about-me p {
  font-family: "Fraunces";
  text-align: center;
  font-size: 30px;
  color: rgb(0, 89, 255);
}

.svg {
  width: 49%;
  height: auto;
  z-index: 2;
}

#hcp {
  animation: color-change 5s infinite alternate;
}

@keyframes color-change {
  0% {
    fill: violet;
  }
  17% {
    fill: indigo;
  }
  32% {
    fill: blue;
  }
  47% {
    fill: green;
  }
  62% {
    fill: yellow;
  }
  77% {
    fill: orange;
  }
  100% {
    fill: red;
  }
}

#buy_me_coffee:hover {
  transition: background-color 0.6s, color 0.6s, border 0.6s;
}

.toggle-dark {
  position: fixed;
  bottom: 50px;
  left: -1px;
  font-size: 30px;
  padding: 5px 10px;
  border: black solid 1px;
  border-radius: 0 100px 100px 0;
  cursor: pointer;
}

#skills_used {
  width: 49%;
  height: auto;
}

.svg2 {
  width: 49%;
  height: auto;
}

@keyframes fill_green {
  100% {
      fill: rgb(32, 230, 32);
  }
}

#circle1 {
  animation: fill_green 1.5s ease-in-out forwards;
}

#bar21 {
  animation: fill_green 1.5s ease-in-out forwards;
  animation-delay: 2s;
}

#bar22 {
  animation: fill_green 2s ease-in-out forwards;
  animation-delay: 2.4s;
}

#circle2 {
  animation: fill_green 2s ease-in-out forwards;
  animation-delay: 2.4s;
}

#bar31 {
  animation: fill_green 1.5s ease-in-out forwards;
  animation-delay: 3.2s;
}

#bar32 {
  animation: fill_green 2s ease-in-out forwards;
  animation-delay: 4s;
}

#circle3 {
  animation: fill_green 2s ease-in-out forwards;
  animation-delay: 4s;
}

.svg_projects_skills {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

#skills_used h1 {
  text-align: center;
  font-size: 50px;
  color: rgb(13, 13, 163);
  font-weight: 400;
  text-shadow: 0.7px 0.7px skyblue;
}

#skills_used {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#skills img {
  margin: 20px;
  height: 80px;
}

#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#skills img {
  transition: transform 0.8s, box-shadow 0.8s;
}

#skills img:hover {
  transform: translateY(-10px);
  box-shadow: 0px 25px 0px black;
}

#skills span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill {
  color: rgba(255, 255, 255, 0);
}

.skill_hidden {
  color: inherit;
  position: relative;
  top: -28px;
}

.floating_birds{
  background-color: transparent;
  width: 100px;
  height: 100px;
  border-radius: 10000px;
  position: absolute;
  left: -100px;
  z-index: -2;
}

#b2{
  animation-name: b2;
  animation-duration:  26s;
  animation-timing-function:  linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 3;
}
#b3{
  animation-name: b3;
  animation-duration:  18s;
  animation-timing-function:  linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 0s;
}

@keyframes b2{
  0%{left: -5%; top: 50%;}
  15%{left: 15%; top: 52%;}
  20%{left: 20%; top: 54%;}
  30%{left: 30%; top: 56%}
  35%{left: 35%; top: 58%;}
  45%{left: 45%; top: 56%}
  60%{left: 60%; top: 54%;}
  75%{left: 75%; top: 56%;}
  90%{left: 90%; top: 54%;}
  100%{left: 100%; top: 52%;}
}
@keyframes b3{
  0%{left: -2%; top: 30%;}
  15%{left: 15%; top: 33%;}
  20%{left: 20%; top: 36%;}
  30%{left: 30%; top: 39%}
  35%{left: 35%; top: 36%;}
  45%{left: 45%; top: 33%}
  60%{left: 60%; top: 30%;}
  75%{left: 75%; top: 27%;}
  90%{left: 90%; top: 24%;}
  100%{left: 100%; top: 21%;}
}

body{
  overflow-x: hidden;
}