@import url(https://fonts.googleapis.com/css?family=Freckle+Face:regular);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css2?family=Lobster&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Oswald&family=Satisfy&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fraunces:ital@1&display=swap);

@media only screen and (max-width:1171px) {
    div.toggle-dark {
        font-size: 28px;
    }
}

@media only screen and (max-width:975px) {
    div.toggle-dark {
        font-size: 26px;
    }
}

@media only screen and (max-width: 700px) {
    div.toggle-dark {
        font-size: 24px;
    }

    div.contents {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 600px) {
    div.toggle-dark {
        font-size: 22px;
    }
}

@media only screen and (max-width:510px) {
    div.toggle-dark {
        font-size: 20px;
    }

    div.header div.social-media {
        margin-right: 4px;
    }

    div.box {
        margin-left: 20px !important;
    }
}

@media only screen and (max-width: 432px) {
    div.toggle-dark {
        font-size: 18px;
    }

    div.social-media {
        display: none;
    }

    div.social-media- {
        display: inline-block !important;
        float: none !important;
        margin-bottom: 10px !important;
    }

    div.social-media-bottom {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media only screen and (max-width:300px) {
    div.toggle-dark {
        font-size: 16px;
    }

    .box {
        width: 85% !important;
    }
}

body {
    background-color: skyblue;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    background: linear-gradient(to bottom right, rgb(84, 135, 230), skyblue, white);
}

.header {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.459);
    width: 100%;
    display: inline-block;
    padding: 3px 0px;
    background-color: darksalmon;
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-button {
    padding: 5px 5px;
    border-radius: 3px;
    float: left;
    margin: 5px 5px;
    font-size: 25px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    text-shadow: 0.7px 0.7px black, -0.7px 0.7px black, 0.7px -0.7px black, -0.7px -0.7px black;
}



div.social-media, div.social-media- {
    float: right;
    padding: 6px 12.39px;
    margin: 1px 4px;
    font-size: 30px;
    color: black;
    border-radius: 9000px;
}

@keyframes move-right {
    to {
        margin-right: 4px;
    }
}

.header div.social-media {
    margin-right: 20px;
    animation: move-right 1s ease-out forwards;
}

div.social-media- {
    display: none;
}

#insta:hover {
    color: white;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

#twitter:hover {
    color: white;
    background-color: #1da1f2;
}

#github:hover {
    color: white;
    background-color: black;
}

#linkedin:hover {
    color: white;
    background-color: #2867b2;
}

h1 a {
    text-decoration: none;
}

.contents {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 40px 0px;
}

.box {
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    width: 260px;
    transition: all 0.5s ease-in-out;
}

.box:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.8);
}

div.box {
    margin-left: 20px;
}

.inner-box {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.image {
    width: 240px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100%;
    height: 168%;
    border-radius: 10px;
}

div.title {
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    font-family: sans-serif;
    position: relative;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 1px;
    border-radius: 10px 10px 0 0;
}
div.date_completion{
    position: relative;
    padding: 5px;
    color: white;
    margin-top: 17px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0 0 10px 10px;
}
div.project_details{
    margin-top: 10px;
}
a {
    text-decoration: none;
    color: black;
}

hr {
    color: white;
}

.github-code {
    background-color: rgb(36, 34, 34);
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    padding: 5px 0px;
}

.github-code:hover {
    background-color: black;
}

html {
    min-height: 100%;
}


.toggle-dark {
    position: fixed;
    bottom: 50px;
    left: -1px;
    font-size: 30px;
    padding: 5px 10px;
    border: black solid 1px;
    border-radius: 0 100px 100px 0;
    cursor: pointer;
}